.react-calendar {
    border-radius: 20px;
    padding: 20px 20px 30px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.react-calendar__month-view__days__day--neighboringMonth {
    visibility: hidden;
}
.react-calendar__navigation {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.react-calendar__navigation__prev2-button, .react-calendar__navigation__next2-button {
    display: none;
}
.react-calendar__navigation__label, .react-calendar__navigation__arrow {
    border: none;
    background-color: transparent;
    font-size: 16px;
}
.react-calendar__month-view__weekdays {
    font-size: 14px;
    margin: 10px 0 20px 0;
    text-align: center;
}
.react-calendar__month-view__weekdays__weekday abbr {
    border-bottom: none !important;
    cursor: inherit !important;
    text-decoration: none !important;
}
.react-calendar__tile {
    border: none;
    background-color: transparent;
    font-size: 14px;
    cursor: pointer;
    color: var(--second-color);
    transition: .3s;
    border-radius: 50%;
    margin-bottom: 5px;
}
.react-calendar__tile:hover {
    color: var(--primary-color)
}
.react-calendar__tile--active abbr {
    color: var(--hover-text-color);
}
.react-calendar__tile--active {
    overflow: visible !important;
}
.react-calendar__tile--active {
    position: relative;
    z-index: 999;
}
.react-calendar__tile--active::before {
    z-index: -100;
    content: "";
    width: 24px;
    height: 24px;
    background-color: var(--primary-color);
    position: absolute;
    left: 6px;
    top: -1px;
    border-radius: 50%;
}