.mainpage {
    width: calc(85vw - 135px);
}
.mainpage_title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
}
.mainpage_container {
    background-color: var(--hover-text-color);
    border-radius: 20px;
    padding: 30px;
    display: flex;
    gap: 20px;
}
.calender_main {
    width: 27%;
}
.info_title {
    margin-bottom: 20px;
}