.appointment {
    width: calc(73% - 20px);
}
.doctor {
    display: flex;
    margin-bottom: 7px;
}
.doctor img {
    width: 35px;
    height: 35px;
    margin-right: 10px;
}
.doctor_info {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
}
.doctor_name {
    font-weight: 700;
    font-size: 16px;
}
.docot_desc {
    font-weight: 400;
    font-size: 12px;
    color: var(--primary-color);
}
.appointmentBlocks {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background-color: var(--hover-text-color);
    border-radius: 20px;
    padding: 30px;
}
.appointment_menu {
    display: flex;
    justify-content: space-between;
}
.appointment_exit {
    margin-right: 10px;
    font-size: 20px;
    font-weight: 700;
    color: var(--primary-color);
}