.selectDoctor {
    width: 100%;
    max-height: 500px;
    overflow-y: scroll;
    border: 1px solid var(--primary-color);
    border-radius: 20px 0 0 20px;
}

.selectDoctor::-webkit-scrollbar {
    width: 8px;
}

.selectDoctor::-webkit-scrollbar-track {
    background: #fff;
}

.selectDoctor::-webkit-scrollbar-thumb {
    background: #40aeff;
    border-radius: 4px;
}

.selectDoctor::-webkit-scrollbar-thumb:hover {
    background: #007bff;
    /* Цвет ползунка при наведении */
}

.doctor {
    border: 1px solid var(--primary-color);
    color: var(--text-color);
    padding: 15px;
    cursor: pointer;
    display: flex;
    gap: 10px;
    align-items: center;
    transition: .3s all;
}
.doctor:hover {
    color: var(--hover-text-color);
    background-color: var(--primary-color);
}
.doctor:hover .docot_desc {
    color: var(--hover-text-color);
}
.doctor:first-child {
    border-radius: 20px 0 0 0;
}

.doctor:last-child {
    border-radius: 0 0 0 20px;
}

.doctor_info {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 5px;
}

.doctor_name {
    font-weight: 400;
}

.docot_desc {
    font-weight: 400;
    font-size: 12px;
    color: var(--primary-color);
    transition: .3s all;
}

.doctor_img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.doctor_active {
    color: var(--hover-text-color);
    background-color: var(--primary-color);
}
.doctor_active .docot_desc {
    color: var(--hover-text-color);
}